<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href=".css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
	<h3>球団名</h3>
	<div th:text="${team.teamName}"></div>
	<h3>本拠地</h3>
	<div th:text="${team.headquarters}"></div>
	<h3>発足</h3>
	<div th:text="${team.inauguration}"></div>
	<h3>歴史</h3>
	<div>
		<pre th:text="${team.history}"></pre>
	</div>
	<form action="list.html" th:action="@{/ex01}" method="post">
		<button>戻る</button>
	</form>
</body>
</html>